{% extends "index.html" %}
{% block content %}
<h1>This is the home page</h1>
<hr>
<a href="play" style="padding: 30px 60px; background-color: #37c635; color: white; text-decoration: none; border-radius: 10px; position: absolute; top: 40%; left: 40%; font-size: 24px;">
    Click to Play
</a>
<a href="instruction" style="padding: 30px 60px; background-color: orange; color: white; text-decoration: none; border-radius: 10px; position: absolute; top: 70%; left: 40%; font-size: 24px;">
    How to Play
</a>
{% endblock %}