{% extends "index.html" %}
{% block content %}
<!--This is an instruction page and I think it is easy to understand-->
<!--The images are examples of rankings-->
<h1>How to Play Poker</h1>
<p></p>
<h1>Welcome to the poker game! Here are the instructions:</h1>
<p>Each player is dealt two private cards, and five public cards are dealt face-up on the table.</p>
<p>Your goal is to make the best five-card hand using any combination of your two cards and the five public cards.</p>
<p>You can choose to "Check" to stay in the game, or "Fold" to forfeit the round.</p>
<p>If you fold, you will lost less money than other options.</p>
<p>The player with the best hand wins the pot.</p>
<p>Hand rankings (from highest to lowest): Royal Straight Flush, Straight Flush, Four of a Kind, Full House, Flush, Straight, Three of a Kind, Two Pair, One Pair, High Card.</p>
<h2>Good luck and have fun!</h2>
<p>Notice: If you quit the playing page during a game, the game will continue with you check to the end! And you may lost money this way!</p>
<hr>
<h2 style="transform: translateX(-20%);margin: 10px 0;">Royal Straight Flush</h2>
<img src="/static/images/Playing-Cards-Jumbo_23.jpg" alt="ten" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_24.jpg" alt="Jack" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_25.jpg" alt="Queen" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_26.jpg" alt="King" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_14.jpg" alt="Ace" style="height:200px;width:auto;">
<h2 style="transform: translateX(-20%);margin: 10px 0;">Straight Flush</h2>
<img src="/static/images/Playing-Cards-Jumbo_22.jpg" alt="Ace" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_23.jpg" alt="ten" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_24.jpg" alt="Jack" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_25.jpg" alt="Queen" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_26.jpg" alt="nine" style="height:200px;width:auto;">
<h2 style="transform: translateX(-20%);margin: 10px 0;">Four of a Kind</h2>
<img src="/static/images/Playing-Cards-Jumbo_06.jpg" alt="Ace" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_19.jpg" alt="ten" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_32.jpg" alt="Jack" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_45.jpg" alt="Queen" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_39.jpg" alt="nine" style="height:200px;width:auto;">
<h2 style="transform: translateX(-20%);margin: 10px 0;">Full House</h2>
<img src="/static/images/Playing-Cards-Jumbo_12.jpg" alt="Ace" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_25.jpg" alt="ten" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_51.jpg" alt="Jack" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_47.jpg" alt="Queen" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_21.jpg" alt="nine" style="height:200px;width:auto;">
<h2 style="transform: translateX(-20%);margin: 10px 0;">Flush</h2>
<img src="/static/images/Playing-Cards-Jumbo_28.jpg" alt="Ace" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_34.jpg" alt="ten" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_38.jpg" alt="Jack" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_39.jpg" alt="Queen" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_27.jpg" alt="nine" style="height:200px;width:auto;">
<h2 style="transform: translateX(-20%);margin: 10px 0;">Straight</h2>
<img src="/static/images/Playing-Cards-Jumbo_45.jpg" alt="Ace" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_46.jpg" alt="ten" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_08.jpg" alt="Jack" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_22.jpg" alt="Queen" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_36.jpg" alt="nine" style="height:200px;width:auto;">
<h2 style="transform: translateX(-20%);margin: 10px 0;">Three of a Kind</h2>
<img src="/static/images/Playing-Cards-Jumbo_12.jpg" alt="Ace" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_25.jpg" alt="ten" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_51.jpg" alt="Jack" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_29.jpg" alt="Queen" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_32.jpg" alt="nine" style="height:200px;width:auto;">
<h2 style="transform: translateX(-20%);margin: 10px 0;">Two Pairs</h2>
<img src="/static/images/Playing-Cards-Jumbo_12.jpg" alt="Ace" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_25.jpg" alt="ten" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_16.jpg" alt="Jack" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_29.jpg" alt="Queen" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_32.jpg" alt="nine" style="height:200px;width:auto;">
<h2 style="transform: translateX(-20%);margin: 10px 0;">One Pair</h2>
<img src="/static/images/Playing-Cards-Jumbo_12.jpg" alt="Ace" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_25.jpg" alt="ten" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_41.jpg" alt="Jack" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_29.jpg" alt="Queen" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_32.jpg" alt="nine" style="height:200px;width:auto;">
<h2 style="transform: translateX(-20%);margin: 10px 0;">High Card</h2>
<img src="/static/images/Playing-Cards-Jumbo_02.jpg" alt="Ace" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_25.jpg" alt="ten" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_52.jpg" alt="Jack" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_29.jpg" alt="Queen" style="height:200px;width:auto;">
<img src="/static/images/Playing-Cards-Jumbo_32.jpg" alt="nine" style="height:200px;width:auto;">
<a href="play" style="width: 250px; height: 100px; padding: 30px 50px; background-color: rgb(77, 66, 66); color: white; text-decoration: none; border-radius: 10px; font-size: 30px; position: fixed; bottom: 10%; left: 80%;">
    Start Playing
</a>
<a href="home" style="width: 250px; height: 100px; padding: 30px 50px; background-color: rgb(76, 62, 183); color: white; text-decoration: none; border-radius: 10px; font-size: 25px; position: fixed; bottom: 10%; left: 60%;">
    Back to Home
</a>
{% endblock %}
