{% extends "index.html" %}
{% block content %}
<h2>This is the playing page</h2>


<div id="MoneyDisplay" style="position: fixed; bottom: 10px; left: 10px; color: white; font-size: 18px;">
    <h1>Money: ${{ money1 }}</h1>
</div>

<button class="btn-fold" id="FoldBtn" style="position: absolute; justify-content: center; bottom: 300px; left: 51%; display: flex; align-items: center;">Fold</button>

<div id="FoldShowingContent" style="display: none;">
    <div style="position: absolute;top: 30%;left: 10%;font-size: 32px;">    
        <div style="position: fixed;bottom: 50%;left: 65%;">
            <img src="{{ url_for('static', filename=cardsp[4][4]) }}" alt="{{cardsp[4][0][3]}}">
        </div>
        <div style="position: fixed;bottom: 50%;left: 55%;">
            <img src="{{ url_for('static', filename=cardsp[3][4]) }}" alt="{{cardsp[3][0][3]}}">
        </div>
        <div style="position: fixed;bottom: 50%;left: 45%;">
            <img src="{{ url_for('static', filename=cardsp[2][4]) }}" alt="{{cardsp[2][0][3]}}">
        </div>
        <div style="position: fixed;bottom: 50%;left: 35%;">
            <img src="{{ url_for('static', filename=cardsp[1][4]) }}" alt="{{cardsp[1][0][3]}}">
        </div>
        <div style="position: fixed;bottom: 50%;left: 25%;">
            <img src="{{ url_for('static', filename=cardsp[0][4]) }}" alt="{{cardsp[0][0][3]}}">
        </div>
        <div style="position: fixed;bottom: 30%;left: 33%;font-size: 32px;">    
            You folded!
            {# not the ideal way to achieve this, but the easy way #}
            {% if stat == 2 %}
            Your current money: {{money-500}}
            {% endif %}
            {% if stat == 1 %}
            Your current money: {{money-200}}
            {% endif %}
            {% if stat == 0 %}
            Your current money: {{money+100}}
            {% endif %}	
            {% if stat == -1 %}
            Your current money: {{money-100}}
            {% endif %}
        </div>
        <div style="position: fixed;top: 30%;left: 5%;font-size: 32px;">    
            <p>Bot 1's cards</p>
            <img src="{{ url_for('static', filename=cards1[0][4]) }}" alt="{{cards1[0][0][3]}}">
            <img src="{{ url_for('static', filename=cards1[1][4]) }}" alt="{{cards1[1][0][3]}}">
        </div>
        <div style="position: fixed;top: 30%;right: 5%;font-size: 32px;">    
            <p>Bot 2's cards:</p>
            <img src="{{ url_for('static', filename=cards2[0][4]) }}" alt="{{cards2[0][0][3]}}">
            <img src="{{ url_for('static', filename=cards2[1][4]) }}" alt="{{cards2[1][0][3]}}">
        </div>
        <div style="position: fixed; bottom: 300px; left: 51%; display: flex; align-items: center; gap: 10px;">
            <form method="POST" style="position: fixed; bottom: 300px; left: 51%; display: flex; align-items: center; gap: 10px;">
                <button type="submit" name="fold" class="btn-fold">Next Game</button>
            </form>
        </div>
    </div>
</div>

<script>
document.getElementById('FoldBtn').onclick = function() {
    const content = document.getElementById('FoldShowingContent');
    document.getElementById('showBtn').style.display = 'none';
    document.getElementById('showBtn1').style.display = 'none';
    document.getElementById('showBtn2').style.display = 'none';
    document.getElementById('showBtn3').style.display = 'none';
    document.getElementById('MoneyDisplay').style.display = 'none';
    content.style.display = 'block'; // Show the hidden content
    this.style.display = 'none';     // Hide the "Fold" button itself
}
</script>

<div class="player" style="position: absolute;bottom: 0%;left: 40%;">
    <img src="{{ url_for('static', filename=cards[0][4]) }}" alt="{{cards[0][0][3]}}">
</div>

<div class="player" style="position: absolute;bottom: 0%;left: 50%;">
    <img src="{{ url_for('static', filename=cards[1][4]) }}" alt="{{cards[1][0][3]}}">
</div>

<button class="check" id="showBtn">Check</button>

<div id="ThreePublicCards" style="display: none;">
  <div style="position: fixed;bottom: 50%;left: 25%;">
    <img src="{{ url_for('static', filename=cardsp[0][4]) }}" alt="{{cardsp[0][0][3]}}">
  </div>
  <div style="position: fixed;bottom: 50%;left: 35%;">
    <img src="{{ url_for('static', filename=cardsp[1][4]) }}" alt="{{cardsp[1][0][3]}}">
  </div>
  <div style="position: fixed;bottom: 50%;left: 45%;">
    <img src="{{ url_for('static', filename=cardsp[2][4]) }}" alt="{{cardsp[2][0][3]}}">
  </div>
    <button class="check" id="showBtn1">Check</button>

    <div id="FourthPublicCard" style="display: none;">
        <div style="position: fixed;bottom: 50%;left: 55%;">
            <img src="{{ url_for('static', filename=cardsp[3][4]) }}" alt="{{cardsp[3][0][3]}}">
        </div>
        <button class="check" id="showBtn2">Check</button>

        <div id="FifthPublicCard" style="display: none;">
            <div id="hiddenContent32" style="position: fixed;bottom: 50%;left: 65%;">
                <img src="{{ url_for('static', filename=cardsp[4][4]) }}" alt="{{cardsp[4][0][3]}}">
            </div>
            <button class="check" id="showBtn3">Results</button>

            <div id="Result" style="display: none;">
                <div style="position: absolute;bottom: 30%;left: 33%;font-size: 32px;">    
                    {{won}}
                    Your current money: {{money}}
                </div>

                <div id="Bot1Cards">
                    <div style="position: absolute;top: 30%;left: 5%;font-size: 32px;">    
                        <p>Bot 1's cards</p>
                        <img src="{{ url_for('static', filename=cards1[0][4]) }}" alt="{{cards1[0][0][3]}}">
                        <img src="{{ url_for('static', filename=cards1[1][4]) }}" alt="{{cards1[1][0][3]}}">
                    </div>
                </div>

                <div id="Bot2Cards">
                    <div style="position: absolute;top: 30%;right: 5%;font-size: 32px;">    
                        <p>Bot 2's cards:</p>
                        <img src="{{ url_for('static', filename=cards2[0][4]) }}" alt="{{cards2[0][0][3]}}">
                        <img src="{{ url_for('static', filename=cards2[1][4]) }}" alt="{{cards2[1][0][3]}}">
                    </div>
                </div>

                <div id="RefreshBtn" style="position: fixed; bottom: 300px; left: 40%; display: flex; align-items: center; gap: 10px;">
                    <a href="play" style="text-decoration: none; color: white; background-color: rgb(66, 77, 66); padding: 20px 40px; border-radius: 10px; font-size: 20px;">
                        click to play another game
                    </a>
                </div>

                <script>
                document.getElementById('showBtn6').onclick = function() {
                    const content = document.getElementById('Bot1Cards', 'Bot2Cards', 'RefreshBtn');
                    content.style.display = 'block'; // Show the hidden content
                    this.style.display = 'none';     // Hide the button itself
                }
                </script>
                </div>
            </div>

            <script>
            document.getElementById('showBtn3').onclick = function() {
                const content = document.getElementById('Result');
                content.style.display = 'block'; // Show the hidden content
                this.style.display = 'none';     // Hide the button itself
                document.getElementById('FoldBtn').style.display = 'none';
                document.getElementById('MoneyDisplay').style.display = 'none';
            }
            </script>
            </div>

        <script>
        document.getElementById('showBtn2').onclick = function() {
            const content = document.getElementById('FifthPublicCard');
            content.style.display = 'block'; // Show the hidden content
            this.style.display = 'none';     // Hide the button itself
        }
        </script>
    </div>

    <script>
    document.getElementById('showBtn1').onclick = function() {
        const content = document.getElementById('FourthPublicCard');
        content.style.display = 'block'; // Show the hidden content
        this.style.display = 'none';     // Hide the button itself
    }
    </script>


</div>

<script>
  document.getElementById('showBtn').onclick = function() {
    const content = document.getElementById('ThreePublicCards');
    content.style.display = 'block'; // Show the hidden content
    this.style.display = 'none';     // Hide the button itself
  }
</script>

<a href="instruction" style="position: absolute; top: 30px; right: 5%; text-decoration: none; color: white; background-color: orange; padding: 20px 40px; border-radius: 10px; font-size: 20px;">
    How to Play
</a>

<a href="/" style="position: absolute;bottom: 15%;right: 5%; text-decoration: none; color: white; background-color: rgb(76, 62, 183); padding: 20px 40px; border-radius: 10px; font-size: 20px;">
    click to exit
</a>

<a href="play" style="position: absolute;bottom: 5%;right: 5%; text-decoration: none; color: white; background-color: rgb(77, 66, 66); padding: 20px 40px; border-radius: 10px; font-size: 20px;">
    click to play another game
</a>
{% endblock %}
