{% extends "index.html" %}
{% block content %}
<p>This is the playing page</p>
<hr>

<p>Your hand cards</p>

{% for card in cards %}
<p>{{card[0][3]}}</p>
<hr>
{% endfor %}

<p>The Public Cards</p>

<button id="showBtn">Check</button>

<div id="hiddenContent" style="display: none;">
  {{cardsp[0][0][3]}}
  <hr>
  {{cardsp[1][0][3]}}
  <hr>
  {{cardsp[2][0][3]}}
  <hr>
    <button id="showBtn3">Check</button>

    <div id="hiddenContent3" style="display: none;">
        {{cardsp[3][0][3]}}
        <hr>
        <button id="showBtn4">Check</button>

        <div id="hiddenContent4" style="display: none;">
            {{cardsp[4][0][3]}}
            <hr>
            <button id="showBtn5">Results</button>

            <div id="hiddenContent5" style="display: none;">
                <p>{{won}}</p>
                <hr>
                <button id="showBtn6">Opponent's Card</button>

                <div id="hiddenContent6" style="display: none;">
                    <p>bot1's cards</p>
                    <p>{{cards1[0][0][3]}}</p>
                    <p>{{cards1[1][0][3]}}</p>
                    <hr>
                    <button id="showBtn7">Your money: {{money1}}</button>

                    <div id="hiddenContent7" style="display: none;">
                        <p> Your current money: {{money}}</p>
                    </div>

                    <script>
                    document.getElementById('showBtn7').onclick = function() {
                        const content = document.getElementById('hiddenContent7');
                        content.style.display = 'block'; // Show the hidden content
                        this.style.display = 'none';     // Hide the button itself
                    }
                    </script>
                    </div>
                </div>

                <script>
                document.getElementById('showBtn6').onclick = function() {
                    const content = document.getElementById('hiddenContent6');
                    content.style.display = 'block'; // Show the hidden content
                    this.style.display = 'none';     // Hide the button itself
                }
                </script>
                </div>
            </div>

            <script>
            document.getElementById('showBtn5').onclick = function() {
                const content = document.getElementById('hiddenContent5');
                content.style.display = 'block'; // Show the hidden content
                this.style.display = 'none';     // Hide the button itself
            }
            </script>
            </div>

        <script>
        document.getElementById('showBtn4').onclick = function() {
            const content = document.getElementById('hiddenContent4');
            content.style.display = 'block'; // Show the hidden content
            this.style.display = 'none';     // Hide the button itself
        }
        </script>
    </div>

    <script>
    document.getElementById('showBtn3').onclick = function() {
        const content = document.getElementById('hiddenContent3');
        content.style.display = 'block'; // Show the hidden content
        this.style.display = 'none';     // Hide the button itself
    }
    </script>
    <hr>


</div>

<script>
  document.getElementById('showBtn').onclick = function() {
    const content = document.getElementById('hiddenContent');
    content.style.display = 'block'; // Show the hidden content
    this.style.display = 'none';     // Hide the button itself
  }
</script>
<hr>



<a href="home">
    <h2>click to exit</h2>
</a>


<a href="play">
    <h2>click to play another game</h2>
</a>
{% endblock %}
